 .section2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2 .formWrapper{
  width: 576px;
  height: 506px;
  border-radius: 16px;
  border: 1px solid rgba(17, 24, 39, 0.5);
  background-color: #0d131f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.section2 .formWrapper form{
  width: 94%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2 .formWrapper form h2{
  width: 166px;
  height: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
  color: rgba(255, 255, 255, 1);
}

.section2 .formWrapper form .row{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section2 .formWrapper form .row label{
  color: rgba(255, 255, 255, 1);
}

.section2 .formWrapper form .row input{
  height: 50px;
  padding: 5px;
  background-color: rgba(31, 41, 55, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(55, 65, 81, 1);
  border-radius: 8px;
  outline: none;
}

.section2 .formWrapper form .row textarea{
  height: 96px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid rgba(55, 65, 81, 1);
  background-color: rgba(31, 41, 55, 1);
  color: rgba(255, 255, 255, 1);
  outline: none;
}

.section2 .formWrapper form .row textarea::placeholder{
  font-size: 14px;
  color: rgba(156, 163, 175, 1);
}

.section2 .formWrapper form .row input::placeholder{
  font-size: 14px;
  color: rgba(156, 163, 175, 1);
}

.section2 .formWrapper form button {
  height: 56px;
  background: linear-gradient(to left, rgba(236, 72, 153, 1), rgba(139, 92, 246, 1));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  color: rgba(229, 231, 235, 1);
  transition: all 0.3s ease-in-out;  
}

.section2 .formWrapper form button:hover {
  background: linear-gradient(to right, rgba(236, 72, 153, 1), rgba(139, 92, 246, 1));  
  color: rgba(255, 255, 255, 1);  
  box-shadow: 0px 8px 20px rgba(139, 92, 246, 0.4);  
  transform: translateY(-4px);  
}

.section2 .formWrapper form button:active {
  transform: translateY(2px);  
}